/* structure.css
 * Define the structure for classes and objects in HTML
 */

div.title {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 2em;
}
div.indicator-box {
    position: absolute;
    left: 150px;
    top: 10px;
    width: 300px;
    height: 60px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(100, 200, 200);
}
div.comment-div {
    border: 1px solid #444444;
    max-width: 600px;
    min-width: 400px;
    float: left;
    margin: 5px 10px 5px 5px;
    height: 90px;
    border-radius: 10px;
}
div.comment-div span {
    margin-left: 15px;
}
div.popupHolder {
    width: 500px;
    min-height: 250px;
    max-height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 50px #000;
    z-index: 10;
    position: fixed;
}
div#popupContent {
    margin-top: 20px;
    margin-bottom: 35px;
    overflow: auto;
}
div#popupContent iframe {
    width: 100%;
    border: 0px none;
    height: 290px;
}
div#popupTitleHolder {
    width: inherit;
    min-height: 25px;
    max-height: 250px;
    overflow: auto;
    margin-bottom: 5px;
    padding: 8px;
    text-align: center;
}
#popupTitle {
    white-space: pre-line;
}
div#popupResponse {
    width: inherit;
    min-height: 50px;
    max-height: 270px;
    overflow: auto;
    position: relative;
    margin-bottom: 10px;
}
button.popupButton {
    /* Button for popup window
	 */
    width: 50px;
    height: 25px;
    position: absolute;
    border-radius: 5px;
    border: #444;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
}
div.popup-option-checbox {
    /* Popup window checkbox */
    padding: 5px;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
}
div.popup-option-checbox input {
    /* Popup window checkbox */
    margin-right: 15px;
}
table.popup-option-list {
    margin: auto;
}
table.popup-option-list tr {
    padding: 5px;
}
table.popup-option-list tr td {
    padding: 5px;
}
div.survey-slider-text-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px;
}
button#popup-proceed {
    bottom: 10px;
    right: 10px;
}
button#popup-previous {
    bottom: 10px;
    left: 10px;
}
div.testHalt {
    /* Specify any colouring during the test halt for pre/post questions */
    background-color: rgba(0, 0, 0, 0.5);
    /* Don't mess with this bit */
    z-index: 9;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}
div#lightbox-root {
    visibility: hidden;
    z-index: 20;
    top: 25px;
    min-height: 50px;
    max-height: 250px;
}
div.lightbox-error {
    margin: 25px;
    margin-bottom: 50px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(255, 220, 220);
    border: 2px rgb(200, 0, 0) solid;
}
div.lightbox-warning {
    margin: 25px;
    margin-bottom: 50px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 220);
    border: 2px rgb(255, 250, 0) solid;
}
div.lightbox-message {
    margin: 25px;
    margin-bottom: 50px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(200, 220, 255);
    border: 2px rgb(50, 100, 250) solid;
}
div#lightbox-blanker {
    visibility: hidden;
    z-index: 19;
}
button.outside-reference {
    width: 120px;
    height: 20px;
    margin-bottom: 5px;
    position: absolute;
}
textarea.trackComment {
    max-width: 594px;
    min-width: 350px;
    max-height: 60px;
    resize: none;
}
div.playhead {
    width: 500px;
    height: 50px;
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
}
div.playhead-scrub-track {
    width: 100%;
    height: 10px;
    border-style: solid;
    border-width: 1px;
}
div#playhead-scrubber {
    width: 10px;
    height: 10px;
    position: relative;
    background-color: #000;
}
div.master-volume-holder-inline {
    width: 100%;
    padding: 5px;
}
div.master-volume-holder-float {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 250px%;
    padding: 5px;
}
div#master-volume-root {
    margin: auto;
    border: black 1px solid;
    border-radius: 5px;
    width: 250px;
    height: 40px;
}
input#master-volume-control {
    width: 190px;
    height: 25px;
    float: left;
    margin: 0px;
    padding: 0px;
}
span#master-volume-feedback {
    height: 25px;
    margin: 0px 5px;
    float: right;
}
div.error-colour {
    background-color: #FF8F8F;
}
button.error-colour {
    background-color: #FF8F8F;
    color: black;
}
div.calibration-holder {
    text-align: center;
    align-content: center;
    height: auto;
}
div.calibration-slider {
    width: 50px;
    margin: 2px;
    text-align: center;
    align-content: center;
    float: left;
}
div.calibration-slider input[type=range][orient=vertical] {
    writing-mode: bt-lr;
    /* IE */
    -webkit-appearance: slider-vertical;
    /* WebKit */
    width: 8px;
    padding: 0 5px;
    height: 290px;
}

/*  Comment Boxes */

div.comment-slider-text-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.comment-slider-text-holder span {
    margin: 0px 5px;
}
div.comment-checkbox-inputs-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 5px;
}
div.comment-checkbox-inputs-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
div.comment-box-playing {
    background-color: #FFDDDD;
}
